.markdown {
    font-size: 1.3rem;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    margin: 2em auto;
  }
  
  .markdown h2 {
    font-size: 2rem;
    font-weight: 800;
  }
  
