.markdown {
    font-size: 1.3rem;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    margin: 20% 0;
  }
  
  .markdown h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 0 1.3rem 0;
  }
  
