
@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Space+Mono:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  color:#b967ff ;
  /* vi vile violet */
  text-decoration: none;
}

a:hover {
  color: #ff71ce; 
  /* hella hot pink */
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
}


@tailwind utilities;